<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-styles/element-styles/paper-material-styles.html">
<link rel="import" href="../bower_components/paper-behaviors/paper-button-behavior.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<dom-module id="ramen-button">
    <template strip-whitespace>
        <style include="paper-material-styles">
            /* <%= css %> /* END OF CSS */
        </style>
        <slot>Button</slot>
    </template>

    <script>
        /* <%= js %> /* END OF JS */
    </script>
</dom-module>