$success-color: #43A047;
$info-color: #1E88E5;
$danger-color: #E53935;
$warning-color: #FDD835;
$dark-color: #607D8B;
$primary-color : #706FAE;
$light-color : #EEE;

$accent-color: #B5B7D3;

$dark-text-color: #333;
$light-text-color: #EEE;

$mobile : 425px;
$tablet : 768px;
$desktop : 1024px;
$deskhd : 1440px;

$border-radius : 3px;